{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
            <tbody>
                {% for item in stocks %}
                <tr>
                    <td> {{ item["symbol"] }}</td>
                    <td> {{ item["name"] }}</td>
                    <td> {{ item["totalshares"] }}</td>
                    <td> {{ usd(item["price"]) }}</td>
                    <td> {{ usd(item["totalshares"] * item["price"]) }}</td>
                </tr>
                {% endfor %}

                <tr>
                    <td>Cash</td>
                    <td colspan="3"></td>
                    <td>{{ usd(cash) }}</td>
                </tr>

            </tbody>
            <tfoot>
                <td colspan="4"></td>
                <td>{{ usd(total) }}</td>
            </tfoot>
    </table>
{% endblock %}